{{define "Index"}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Loja</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="main.css">
        <script src="main.js"></script>
    </head>
    <body>
        <h1>New Store</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Amounts</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Shirt</td>
                    <td>Blue shirt</td>
                    <td>29</td>
                    <td>50</td>
                </tr>
                <tr>
                    <td>Mouse pad</td>
                    <td>Mouse pad gamer :)</td>
                    <td>30</td>
                    <td>992</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
{{end}}